.App {
  padding: 40px;
  display: grid;
  grid-gap: 20px;
  align-items: start;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.Card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.1);

  & > * {
    margin-top: 20px;
  }

  & > *:first-child {
    margin-top: inherit;
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.HorizontalStack {
  display: flex;

  & > * {
    margin-left: 8px;
  }

  & > *:first-child {
    margin-left: inherit;
  }
}

.stretch {
  align-self: stretch;
}
